{% extends 'base.html' %}

<html lang="en">
    <Head>
        <meta charset="UTF-8">
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

        <style>
            #chartdiv {
              width: 100%;
              height: 600px;
            }
        </style>

        {% block title %}
            DashBoard
        {% endblock %}
    </Head>
    <Body>
        {% block body %}
        <div class="container-fluid"> 
            <h3 class="text-center my-text">Сезон <small class="text-muted my_text_sec_col">{{startSeason}}/{{endtSeason}}</small></h3>
            <div class="row mt--2">
                <div class="col-md-6">
                    <div class="card full-height">
                        <div class="card-body my-card-body">
                            <div class="card-category text-center my-text"><h6>Показатели</h6></div>
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-1"></div>
                                    <h6 class="fw-bold mt-3 mb-0 my-text">Забитые голы<p class="text-muted my_text_sec_col">{{mostgoalforteam}}</p></h6>
                                </div>
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-2"></div>
                                    <h6 class="fw-bold mt-3 mb-0 my-text">Пропущенные голы<p class="text-muted my_text_sec_col">{{mostgoalagainstteam}}</p></h6>

                                </div>
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-3"></div>
                                    <h6 class="fw-bold mt-3 mb-0 my-text">Лучшая разница<p class="text-muted my_text_sec_col">{{mostgoaldiffteam}}</p></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card full-height mt-2">
                        <div class="card-body my-card-body">
                            <div class="card-title text-center"><h5 class="fw-bold my_text_sec_col">Итоги <small class="text-muted my_text_sec_col">Премьер лиги</small></h5></div>
                                <div class="row py-3">
                                    <div class="d-flex flex-column justify-content-around">
                                            <h3 class="fw-bold text-uppercase text-primary op-8 text-center my-text">Чемпион</h3>
                                            <h5 class="fw-bold text-center my-text">
                                                {% for c in club %}
                                                    {% if c.name in champion %}
                                                        <img src="{{ c.logo.url }}" style="max-height: 45px; width:35px; margin: 5px;">
                                                    {% endif %}
                                                {% endfor %} 
                                                {{champion}}
                                            </h5>
                                            <h4 class="fw-bold text-uppercase text-success op-8 text-center my-text">Наибольшее кол-во побед</h4>
                                            <h6 class="fw-bold text-center my-text">                                        
                                                {% for c in club %}
                                                {% if c.name in mostvictoryteam %}
                                                    <img src="{{ c.logo.url }}" style="max-height: 45px; width:35px; margin: 5px;">
                                                {% endif %}
                                                {% endfor %}
                                                {{mostvictoryteam}} <small class="text-muted my_text_sec_col">- {{mostvictory}} матчей</small>
                                            </h6>
                                            <h3 class="fw-bold text-uppercase text-danger op-8 text-center">Наибольшее кол-во поражений</h3>
                                                <h6 class="fw-bold text-center my-text">
                                                    {% for c in club %}
                                                    {% if c.name in mostdeafetteam %}
                                                        <img src="{{ c.logo.url }}" style="max-height: 45px; width:35px; margin: 5px;">
                                                    {% endif %}
                                                    {% endfor %}
                                                    {{mostdeafetteam}} <small class="text-muted my_text_sec_col">- {{mostdeafet}} матчей</small>
                                                </h6>
                                            <h4 class="fw-bold text-uppercase text-warning op-8 text-center">Наибольшее кол-во ничьих</h4>
                                            <h6 class="fw-bold text-center my-text">
                                                {% for c in club %}
                                                    {% if c.name in mostdrawteam %}
                                                        <img src="{{ c.logo.url }}" style="max-height: 45px; width:35px; margin: 5px;">
                                                    {% endif %}
                                                {% endfor %}
                                                {{mostdrawteam}} <small class="text-muted my_text_sec_col">- {{mostdraw}} матчей</small>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="chartdiv" class="chartdiv"></div>
                        </div>
                <div class="col-sm-6 col-m-6 mt-2">
                    {{table|safe}}
                </div>
            </div>
        </div>


    <!--   Core JS Files   -->
	<script src="https://appsrv1-147a1.kxcdn.com/atlantis-lite/js/core/jquery.3.2.1.min.js"></script>
	<script src="https://appsrv1-147a1.kxcdn.com/atlantis-lite/js/core/popper.min.js"></script>
	<script src="https://appsrv1-147a1.kxcdn.com/atlantis-lite/js/core/bootstrap.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="https://appsrv1-147a1.kxcdn.com/atlantis-lite/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

	<!-- Chart JS -->
	<script src="https://appsrv1-147a1.kxcdn.com/atlantis-lite/js/plugin/chart.js/chart.min.js"></script>


	<!-- Chart Circle -->
	<script src="https://appsrv1-147a1.kxcdn.com/atlantis-lite/js/plugin/chart-circle/circles.min.js"></script>


    <!-- cloud tag -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Specific Page JS goes HERE  -->
    <script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value: {{max_goal_for|safe}},
			maxValue:100,
			width:7,
			text: {{max_goal_for|safe}},
			colors:['#dcdcdc', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value: {{max_goal_against|safe}},
			maxValue:100,
			width:7,
			text: {{max_goal_against|safe}},
			colors:['#dcdcdc', '#F25961'], 
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value: {{ better_diference_goal|safe }},
			maxValue:100,
			width:7,
			text: {{ better_diference_goal|safe }},
			colors:['#dcdcdc', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})
        </script>
        <!-- cloud tag -->
        <script>
            am4core.ready(function() {
            
            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end
            
            var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
            chart.fontFamily = "Courier New";
            var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
            series.randomness = 0.1;
            series.rotationThreshold = 0.5;
            
            series.data = [ {
                "tag": "liverpool",
                "count": "200000"
            },
            {
                "tag": "brighton-hove-albion-fc",
                "count": "50000"
            },
            {
                "tag": "sheffield-united-fc",
                "count": "45000"
            },
            {
                "tag": "Leeds",
                "count": "100000"
            },
            {
                "tag": "Leicester",
                "count": "110000"
            },
            {
                "tag": "West_Ham",
                "count": "115000"
            },
            {
                "tag": "Everton",
                "count": "120000"
            },
            {
                "tag": "Tottenham",
                "count": "140000"
            },
            {
                "tag": "Arsenal",
                "count": "170000"
            },
            {
                "tag": "Chelsea",
                "count": "195000"
            },
            {
                "tag": "Manchester_City",
                "count": "194000"
            },
            {
                "tag": "Manchester_United",
                "count": "190000"
            },
        ];
            
            series.dataFields.word = "tag";
            series.dataFields.value = "count";
            
            series.heatRules.push({
             "target": series.labels.template,
             "property": "fill",
             "min": am4core.color("#ff6347"),
             "max": am4core.color("#ff4500"),
             "dataField": "value"
            });
            
            series.labels.template.url = "/club/{word}";
            series.labels.template.urlTarget = "_blank";
            series.labels.template.tooltipText = "{word}: {value}";
            
            var hoverState = series.labels.template.states.create("hover");
            hoverState.properties.fill = am4core.color("#FF0000");
            
            }); // end am4core.ready()
            </script>
            
        {% endblock %}
    </Body>
</html>