:root {
	--primary-color: #4834d4;
	--success-color: #6ab04c;
	--warning-color: #f0932b;
	--danger-color: #eb4d4b;

	--light-color: #212529;
	--light-second-color: #727475;
	--light-third-color:#3e4046;

	--light-background: #ffffff;
	--light-second-background: #f0e0e0;
	--light-third-background: #fcd1d1f1;

	--dark-color: #c8d4df;
	--dark-second-color: #e4eaff;
	--dark-third-color:#ffe9e9;


	--dark-background: #060f1c;
	--dark-second-background: #09182c;
	--dark-third-background: #0e052cf6;


}
.light {
	--main-bg-color: var(--light-background);
	--second-bg-color: var(--light-second-background);
	--third-bg-color: var(--light-third-background);

	--main-color: var(--light-color);
	--second-color: var(--light-second-color);
	--third-color: var(--light-third-color);
}

.dark {
	--main-bg-color: var(--dark-background);
	--second-bg-color: var(--dark-second-background);
	--third-bg-color: var(--dark-third-background);

	--main-color: var(--dark-color);
	--second-color: var(--dark-second-color);
	--third-color: var(--dark-third-color);
}

.light .logo-dark, .light .light-icon {
	display: none;
}

.dark .logo-light, .dark .dark-icon {
	display: none;
}

.bg-primary {
  background: var(--primary-color);
}

.bg-success {
  background: var(--success-color);
}

.bg-warning {
  background: var(--warning-color);
}

.bg-danger {
  background: var(--danger-color);
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif!important;
    background: var(--main-bg-color);
    color:var(--main-color);
	
	background-color: var(--main-bg-color)!important;
	fill: var(--main-color);
	overflow-x: hidden;

}
.my-navbar{
	background: var(--third-bg-color)!important;
	color: var(--third-color)!important;

}
.my-navbar-logo{
	max-height: 80px; 
	width: 100px; 
	margin: 5px;
}
.nav-link{
	color: var(--third-color)!important;
}
.nav-link:hover{
    cursor: pointer;
}
.dropdown-item {
    display: block!important;
    width: 100%!important;
    padding: 0px!important;
    clear: both!important;
    font-weight: 400!important;
    color: var(--third-color)!important;
    text-align: inherit!important;
    text-decoration: none!important;
    white-space: nowrap!important;
    background-color: var(--second-bg-color)!important;
    border: 0!important;
	margin: 0px!important;
}
.dropdown-menu ul :hover{
	background: var(--main-bg-color)!important;
	color: var(--main-color)!important;

}
.dropdown-item i{
	color: var(--second-color)!important;
	font-size: 1rem!important;
}
.dropdown-menu.show {
    background-color: var(--second-bg-color)!important;
}
.dropdown-menu.show ul{
	margin: 0px;
}
.django-i{
	font-weight: 900;
	font-size: 20px;
	color: var(--main-color);
}
.standart-icon{
	color: var(--main-color);
	max-height: 100px;
	max-width: 100px;
	margin: 5px;
}
.overlay-scrollbar::-webkit-scrollbar{
    width: 9px;
    height: 9px;
    display: none;

}
.overlay-scrollbar:hover::-webkit-scrollbar{
    display: block;
}
.overlay-scrollbar::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 1px solid var(--main-bg-color);
}
.overlay-scrollbar::-webkit-scrollbar-track-piece:start{
    background: transparent;
}
.overlay-scrollbar::-webkit-scrollbar-track-piece:end{
    background: transparent;
}
.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.row:after, .row:before {
	box-sizing: border-box;
}


[class*="col-"] {
	padding-top: 10px;
}

/* Extra small devices <= 600px */
@media only screen and (max-width: 600px) {
	.sidebar {
		width: 0;
	}
	.wrapper {
		margin-left: 0;
	}
	.sidebar-expand .wrapper {
		margin-left: 0;
	}
	.nav-right .nav-item {
		display: none;
	}
	.nav-right .mode, .nav-right .avt-wrapper {
		display: list-item;;
	}
	.navbar-search {
		display: none;
	}
	.dropdown-menu {
		max-width: 300px;
	}
	[class*="col-"] {
		width: 100%
	}
}

/* Small devices >= 600px */
@media only screen and (min-width: 600px) {
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}

/* Medium devices >= 768px */
@media only screen and (min-width: 768px) {
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

/* laptops/desktops >= 992px */
@media only screen and (min-width: 992px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

/* large laptops and desktops >= 1200px */
@media only screen and (min-width: 1200px) {
	.col-xl-1 {width: 8.33%;}
	.col-xl-2 {width: 16.66%;}
	.col-xl-3 {width: 25%;}
	.col-xl-4 {width: 33.33%;}
	.col-xl-5 {width: 41.66%;}
	.col-xl-6 {width: 50%;}
	.col-xl-7 {width: 58.33%;}
	.col-xl-8 {width: 66.66%;}
	.col-xl-9 {width: 75%;}
	.col-xl-10 {width: 83.33%;}
	.col-xl-11 {width: 91.66%;}
	.col-xl-12 {width: 100%;}
}
/* style for list-winers trophy */
.category-list * {transition: .4s linear;}
.category-list {
  background: inherit;
  list-style-type: circle;
  list-style-position: inside;
  padding: 0 5px;
  margin: 0;
}
.category-list li {
  font-family: "Trebuchet MS", "Lucida Sans";
  border-bottom: 1px solid #efefef;
  padding: 5px 0;
}
.category-list a {
  text-decoration: none;
  color: var(--main-color);
}
.category-list li span {
  float: right;
  display: inline-block;
  border: 1px solid #efefef;
  padding: 0 5px;
  font-size: 13px;
  color:var(--second-color);
}
.category-list li:hover a {color: #c93961; transform: scale(1.09);}
.category-list li:hover span {
  color: #c93961;
  border: 1px solid #c93961;
  transform: scale(1.09); /* Увеличиваем масштаб */

}
/* end style for list-winers trophy */

/* style for slider */
.dg-container{
	width: 100%;
	height: 450px;
	position: relative;
	display: flex;
}
.dg-wrapper{
	width: 441px;
	height: 255px;
	margin: auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	width: 442px;
	height: 255px;
    display: block; /* Строчно-блочный элемент */
	position: absolute;
	/* background: transparent url(/static/image/browser.jpg) no-repeat top left; */
	box-shadow: 0px 10px 20px rgba(17, 16, 16, 0.3);
	transition: 0.5s;

}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	padding: 5px 2px 2px 5px;
}
.dg-wrapper a :hover{
	transform: scale(1.2);
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 15px;
	color: var(--second-color);
	font-size: 18px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 100%;
	position: absolute;
	z-index: 1000;
	bottom: 5px;
	left: 30%;
}
.dg-container nav span{
	/* text-indent: -9000px; */
	/* float: left; */
	/* cursor:pointer; */
	/* width: 24px; */
	/* height: 25px; */
	opacity: 0.8;
	/* background: transparent url(/static/image/arrows.png) no-repeat top left; */
}
.dg-container nav span:hover{
	opacity: 1;
}
/* .dg-container nav span.dg-next{
	background-position: top right;
	margin-left: 200px;
}  */
.arrow-6 {
    margin:10px;
}
.arrow-6 svg {
    width: 70px;
    height: auto;
    cursor: pointer;
    overflow: visible;
	margin-right: 430px;

}
.arrow-6 svg polygon, 
.arrow-6 svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: var(--third-color);
}
.arrow-6 svg:hover polygon, 
.arrow-6 svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: var(--main-color);
}
.arrow-6 svg:hover .arrow-6-pl {
    animation: arrow-6-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-6 svg:hover .arrow-6-pl-fixed {
    animation: arrow-6-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
 
@keyframes arrow-6-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrow-6-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
.scale {
    display: inline-block; /* Строчно-блочный элемент */
}
.scale img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
}
.scale img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}
/* end style for slider */

/* style for list-winers trophy */
.my-list * {transition: .4s linear;}
.my-list {
  background: inherit;
  list-style-type: none;
  list-style-position: inside;
  padding: 0 5px;
  margin: 0;
}
.my-list li {
  font-family: "Montserrat";
  font-weight: 300;
  border-bottom: 1px solid #ec8d8de4;
  padding: 2px 0;
}
.my-list a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 14px;
}
.my-list li span {
  float: right;
  display: inline-block;
  padding: 0 2px;
  font-size: 14px;
  color: var(--second-color);
}
.my-list li:hover a {color: #c93961; transform: scale(1.09);}
.my-list li:hover span {
  color: #c93961;
  border: 1px solid #c93961;
  transform: scale(1.09); /* Увеличиваем масштаб */

}
/* end style for list-winers trophy */

/* style for conteiner on index.html */
.outer_cont{
	display: flex;
	height: 450px;
	width: 100%;
	background: var(--main-bg-color);
}
.outer_cont_s{
	display: flex;
	height: 450px;
	width: 100%;
	background:var(--second-bg-color);
}
.inner_cont{
    margin: auto;
	width: 100%;
}
.standart_text{
	text-align: justify;
	text-indent: 1.5em;
}
.my-img{
	margin: 5px; 
	filter: grayscale(75%) sepia(50%) blur(0.6px);
	opacity: 0.7
}
.my-text{
	color: var(--main-color);
}	
.my_text_sec_col{
	color: var(--second-color);
}
.chartdiv{
	background: var(--main-bg-color);
	color: var(--main-color);
}
.my-table{
	color: var(--main-color)!important;
	background: var(--main-bg-color)!important;
}
.table-hover>tbody>tr:hover {
    --bs-table-accent-bg: var(--second-bg-color)!important;
    color: var(--second-color)!important;
}
.my-card-body{
	background: var(--main-bg-color);
	color: var(--main-color);
	border-color: var(--second-bg-color)!important;
}
.my-img:hover{
	transform: scale(1.1); /* Увеличиваем масштаб */
	transition: 1s;
	filter: grayscale(45%) sepia(25%) blur(0.2px);
	opacity: 1

}