{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
            Base title
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <!-- charts -->
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    </head>
        <body>
            {% include '_navbar.html' %}
            <div>         
            {% block body %}
            Base page
            {% endblock %}
        </div>
        <div id="footer">
            <p style="text-align: justify; margin-top: 25px; margin-bottom: 0px;" class="text-center my-text" > 2021 </p>
            <p class="text-center my-text" style="margin-bottom: 0px" > <i class="fab fa-python standart-icon"></i><span class="django-i">django</span></p>
        </div>
    </body> 
</html>