{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
    {% block title %}
        Football clubs
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container-fluid">

    </br>
        <h1 class="text-center text-danger" style="font-family: 'Roboto' sans-serif;">Premier League</h1>
    </br>
        <!-- bootstrap slider -->
        <!-- <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="max-height: 500px; max-width: 500px; align-items: center;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    {% for c in clubs %}
                        {% if c.name == "Liverpool FC" %}
                        <img src="{{ c.teams_photo.url }}" style="max-height: 400px; width:400px; margin: 5px;" class="d-block w-100" alt="...">
                        <div><a href="{{ c.get_absolute_url }}">{{c.name}}</a></div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% for c in clubs %}
                <div class="carousel-item" style="align-items: center;">
                    <img src="{{ c.teams_photo.url }}" style="max-height: 400px; width:400px; margin: 5px;" class="d-block w-100" alt="...">
                    <div><a href="{{ c.get_absolute_url }}">{{c.name}}</a></div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
            </div> -->
        <div class="row outer_cont"> 
            <section id="dg-container" class="dg-container">
                <div class="dg-wrapper">
                    {% for c in clubs %}
                        <a href="{{ c.get_absolute_url }}"><img src="{{ c.teams_photo.url }}" style="max-height: 320px; max-width:440px;"><div>{{c.name}}</div></a>
                    {% endfor %}
                </div>
                <nav>	
                    <span class="dg-prev">&lt;</span>
                    <span class="dg-next">&gt;</span>
                </nav>
            </section>
        </div>
        <!-- content -->
        <div class="row outer_cont_s">
            <div class="col-7" style="margin: auto;" >
                <p class="standart_text" >Премье́р-ли́га (англ. Premier League) — профессиональная футбольная лига для английских футбольных клубов 
                    (также в ней могут играть некоторые клубы из Уэльса). Является высшим дивизионом в системе футбольных лиг Англии. 
                    В ней выступают 20 клубов. Чемпионат проходит с августа по май, каждая команда проводит 38 матчей. 
                    До 2016 года турнир официально назывался Премьер-лига Barclays (англ. Barclays Premier League), с 2016 года турнир 
                    не имеет главного спонсора. За пределами Англии турнир часто называют «английской Премьер-лигой» (English Premier League).
                </p>
                <p class="standart_text">Турнир был основан 20 февраля 1992 года под названием «Премьер-лига Футбольной ассоциации» (англ. FA Premier League) после того,
                    как клубы Первого дивизиона приняли решение о выходе из Футбольной лиги, основанной в 1888 году, с целью получения большей 
                    финансовой выгоды, в первую очередь за счёт получения большей прибыли от продажи прав на телевизионные трансляции. 
                    С тех пор Премьер-лига стала самым популярным спортивным чемпионатом в мире. 
                    Также она является самой прибыльной футбольной лигой в мире: консолидированные клубные доходы в сезоне 2007/08 
                    составили 1,93 млрд фунтов (3,15 млрд долларов). На данный момент, если судить по таблице коэффициентов УЕФА, Премьер-лига 
                    является лучшим национальным чемпионатом в Европе.                    
                    </p>
            </div>
            <div class="col-4 order-last" style="margin: auto;">
                <img src="{% static 'image\index\football-player-pop-art.png' %}" class = "img-fluid" style="max-height: 400px; margin: 5px;">
            </div>
        </div>
        <div class="row outer_cont">
            <div class="col-4 order-last" style= "margin: auto;">
                <h6 class="text-center"> Из 45 клубов, только 7 выигрывали чемпионский титул:</h6>
                <ul class="my-list">
                    <li><a href="#">«Манчестер Юнайтед»</a><span>13</span></li>
                    <li><a href="#">«Манчестер Сити»</a><span>5</span></li>
                    <li><a href="#">«Челси»</a><span>5</span></li>
                    <li><a href="#">«Арсенал»</a><span>3</span></li>
                    <li><a href="#">«Блэкберн Роверс»</a><span>1</span></li>
                    <li><a href="#">«Лестер Сити»</a><span>1</span></li>						
                    <li><a href="#">«Ливерпуль»</a><span>1</span></li>						
                </ul>
            </div>
            <div class="col-8 order-first" style="margin: auto;">
                <img src="{% static 'image\index\Premier_League_Logo.png' %}" class = "img-fluid" style="max-height: 400px;max-width: 400px; margin: 5px;">
            </div>
        </div>
        <div class="row outer_cont_s">
            <div class="col-9" style="margin: auto;">
                <h6 class="text-center"> Рекорды:</h6>
                <ul class="my-list">
                    <li><a href="#">Наибольшее количество побед в сезоне:</a><span>32, «Манчестер Сити» (2017/18), «Ливерпуль» (2019/20)</span></li>
                    <li><a href="#">Наименьшее количество поражений в сезоне:</a><span>0, «Арсенал» (2003/04)</span></li>
                    <li><a href="#">Наибольшее количество очков, набранных по итогам сезона:</a><span>100, «Манчестер Сити» (2017/18)</span></li>
                    <li><a href="#">Наименьшее количество очков, набранных по итогам сезона:</a><span>11, «Дерби Каунти» (2007/08)</span></li>
                    <li><a href="#">Наибольшее количество голов, забитых командой в сезоне:</a><span>106, «Манчестер Сити» (сезон 2017/18)</span></li>
                    <li><a href="#">Наибольшее количество пропущенных мячей в сезоне:</a><span>89, «Дерби Каунти» (сезон 2007/08)</span></li>
                    <li><a href="#">Наименьшее количество пропущенных мячей в сезоне:</a><span>15, «Челси» (сезон 2004/05)</span></li>						
                    <li><a href="#">Наибольшее количество побед подряд:</a><span>18,«Манчестер Сити», «Ливерпуль»</span></li>						
                    <li><a href="#">Самая крупная домашняя победа:</a><span>9:0, «Манчестер Юнайтед» против «Саутгемптона» (2 февраля 2021 года)</span></li>						
                    <li><a href="#">Самая крупная победа на выезде:</a><span>0:9, «Саутгемптон» против «Лестер Сити» (25 октября 2019 года)</span></li>						
                    <li><a href="#">Самый крупный счёт:</a><span>7:4 «Портсмут» против «Рединга» (29 сентября 2007 года)</span></li>						
                    <li><a href="#">Наибольшее количество золотых медалей Премьер-лиги:</a><span>Райан Гиггз (13 раз) </span></li>						
                    <li><a href="#">Самая высокая посещаемость в матче Премьер-лиги:</a><span>83 222, «Тоттенхэм Хотспур» vs «Арсенала», (стадион «Уэмбли», 10/02/2018)</span></li>						
                    <li><a href="#">Наибольшее количество «сухих матчей» в сезоне:</a><span>24, Петр Чех («Челси», сезон 2004/05)</span></li>						
                </ul>
            </div>
            <div class="col-3 order-last" style="margin: auto;">
                <img src="{% static 'image\index\football-player.png' %}" class = "img-fluid" style="max-height: 400px; margin: 5px;">
            </div>
        </div>
        <div class="row outer_cont">
            <div class="col-9" style="margin: auto;">
                <h6 class="text-center"> Лучшие матчи:</h6>
                <ul class="my-list">
                    <li><a href="#">«Ливерпуль» vs «Арсенал», 4:4</a><span>21/04/2009</span></li>
                    <li><a href="#">«Ливерпуль» vs «Ньюкасл», 4:3</a><span>03/04/1996</span></li>
                    <li><a href="#">«Портсмут» vs «Рединг», 7:4</a><span>29/09/2007</span></li>
                    <li><a href="#">«Манчестер Юнайтед» vs «Болтон», 4:0</a><span>16/08/2003</span></li>
                    <li><a href="#">«Манчестер Сити» vs «Куинз Парк Рейнджерс», 3:2</a><span>13/05/2012</span></li>
                    <li><a href="#">«Манчестер Сити» vs «Лестер», 1:3</a><span>06/02/2016</span></li>
                    <li><a href="#">«Ньюкасл» vs «Арсенал», 4:4</a><span>05/02/2011</span></li>						
                    <li><a href="#">«Ливерпуль» vs «Манчестер Сити», 3:1</a><span>10/11/2019</span></li>											
                </ul>
            </div>
            <div class="col-3 order-first" style="margin: auto;">
                <img src="{% static 'image\index\fifa-world-cup-football-poster.png' %}" class = "img-fluid" style="max-height: 400px; margin: 5px;">
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/jquery.gallery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/modernizr.custom.53451.js' %}"></script>
        <script type="text/javascript">
            $(function() {
                $('#dg-container').gallery();
            });
        </script>
    </div>
    {% endblock %}
</body>
</html>

