{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Football clubs
    {% endblock %}
</head>
<body>
    {% block body %}
    <h1>Football clubs</h1>
        <!-- fc-iterator, clubs - alias for data, we have in view function -->
        <ul>
            {% for c in clubs %}
                <li><img src="{{ c.logo.url }}" style="max-height: 45px; width:35px; margin: 5px;"> 
                    <a href="{{ c.get_absolute_url }}">{{c.name}}</a>
                </li>
                    <!-- ({{c.name}}, {{c.league}})</li> -->
            {% endfor %}
        </ul>
    {% endblock %}
</body>
</html>

