{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    Известные личности
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container-fluid">
        </br>
        <h2 class="fw-bold mt-0 mb-1 text-center my-header" style="font-family: 'Roboto' sans-serif;">Известные личности
            <span class="text-muted text-success"> Premier League:</span>
        </h2>
        </br>
        <div class="col-md-12"> 
            <div class="wrap-grid"> 
                {% for s in staff %}
                <div class="staff-item">
                    <div class="staff-list">
                    <img src="{{ s.logo.url }}">
                    <h3>{{s.first_name}} {{s.second_name}}</h3>
                        <span class="role">{{s.role}}</span>
                        <a href="{{ s.get_absolute_url }}" class="button">Подробнее</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- <ul>
            {% for s in staff %}
            <li class="my-text"><img src="{{ s.logo.url }}" style="max-height: 45px; width:35px; margin: 5px;"> 
                <a href="{{ s.get_absolute_url }}">{{s.first_name}} {{s.second_name}} {{s.role}} {{s.club}}</a>
            </li>
            {% endfor %}
        </ul> -->
    </div>
    {% endblock %}
</body>
</html>

