{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        {{trophy.name}}
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container-fluid">
        <h1 class="text-center">{{trophy.name}}</h1>
        <div class="row mt--2 justify-content-between">
            <div class="col-6"> 
                <span class="text-center">
                    <img src="{{ trophy.logo.url }}" style="max-height: 700px; width:700px; margin: 5px;">
                    <p class="text-center">Кубок: {{trophy.name}}</p> 
                    {{trophy.content|linebreaks}}
                </span>
            </div> 
            <div class="col-6">
                <span><p class="list-unstyled">{{trophy.winers|linebreaks}}</p>
                {% if  trophy.actual_owner in 'Челси' %}
                <img src="{% static 'image\trophy\chelsea_uefa.png.jpg' %}" style="max-height: 700px; width:700px; margin: 5px;">
                {% else %}
                <img src="{% static 'image\trophy\villareal.png' %}" style="max-height: 700px; width:700px; margin: 5px;">
                {% endif %}
                <p class="text-center">Действующий обладатель: {{trophy.actual_owner}}</p> 
                <p class="text-center">Наиболее титулован: {{trophy.recordsman}}</p>
            </span>
            </div>
        </div>
        <div class="row">
            <div>
            </div>
        </div> 
    </div>
    {% endblock %}
</body>
</html>